@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f8fafc; /* Keep light for product sections, we will use dark for Hero */
  color: #0f172a;
}